.footer {
    width: 100%;
    background-color: #ffffff;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;


    &-info {
        margin: 0 auto;
        padding: 15px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: #151515;

        a {
            color: #888888;

            &:hover {
                color: #151515;
                text-decoration: underline;
            }

            &:visited {
                color: #888888;

                &:hover {
                    color: #151515;
                    text-decoration: underline;
                }
            }
        }
    }
}